<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome <%= user.name %></p>
<a style="background-color: red" href="http://localhost:3000/admin" class="btn btn-secondary">Head to Admin Page</a>
<a href="/auth/logout" class="btn btn-secondary">Logout</a>
